body {
  background: #e9ebee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.FeedHeader {
  background-color: #4267b2;
  border-bottom: 1px solid #29487d;
  text-align: center;
  padding: 20px;

  h1 {
    color: white;
    font-size: 20px;
  }
}

.FeedBody {
  width: 100%;
  text-align: center;
  background: blue;
}

.Post {
  width: 700px;
  background: white;
  padding: 30px;
  margin: 30px auto;
  height: auto;
  border: 1px solid #cccccc;
}
